.wrapper {
  display: flex;
  margin-bottom: 12px;
}

img {
  border-radius: 6px;
}

.description__list {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  color: #2a363b;
  padding: 0 24px;
}

.description__list li {
  margin-bottom: 16px;
}

.description__list h2,
h3 {
  margin: 0;
  margin-bottom: 8px;
}

.description__list p {
  margin: 0;
  font-weight: 400;
  color: #2a363b;
}

.genres__list {
  display: flex;
  padding: 0;
  list-style: none;
  font-weight: 400;
  color: #2a363b;
}

.genres__list li {
  margin: 0;
  margin-right: 12px;
}

.Button {
  margin-bottom: 8px;
  padding: 8px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  color: #2a363b;
  font-size: 16px;
}

.Button:before {
  content: '\2190';
  margin-right: 6px;
  font-size: 16px;
  font-weight: 700;
  color: #fa0707;
}

.Button:hover {
  color: #fa0707;
  transition: color 0.2s linear;
}
