.Button {
  margin-bottom: 8px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  color: #2a363b;
}

.Button:before {
  content: '\2190';
  margin-right: 6px;
}
