.SearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 16px;
  max-width: 300px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.SearchFormButton {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 0;
  background-color: transparent;
  background-image: url('https://image.flaticon.com/icons/svg/149/149852.svg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.SearchFormButton:hover {
  opacity: 1;
}

.SearchFormButtonLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.SearchFormInput {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #2a363b;
  border: none;
  border-bottom: 1px solid rgba(42, 54, 59, 0.5);
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.SearchFormInput::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #2a363b;
}
/* transition: color 0.2s linear;
  color: #fa0707; */
