.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 16px;
}

.item {
  margin-bottom: 16px;
  display: flex;
  width: 200px;
}

.link {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.link:hover {
  transform: scale(1.07);
  color: #fa0707;
}

.movie__list {
  width: 100%;
  object-fit: cover;
  margin-bottom: 8px;
}
